/* Wider content area */
.md-grid {
  max-width: 95%;
}

/* Theme-based image visibility */
[data-md-color-scheme="default"] .only-dark {
  display: none;
}

[data-md-color-scheme="slate"] .only-light {
  display: none;
}
