name: PR Check
on:
  pull_request:
    branches:
      - master
  workflow_dispatch:
jobs:
  lychee:
    uses: ./.github/workflows/lychee-check.yml
  build:
    uses: ./.github/workflows/build-check.yml