name: Deploy documentation
on:
  push:
    branches:
      - master
  workflow_dispatch:
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  lychee:
    uses: ./.github/workflows/lychee-check.yml

  build:
    uses: ./.github/workflows/build-check.yml

  markdownlint:
    uses: ./.github/workflows/markdownlint-check.yml

  deploy:
    needs: lychee
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/configure-pages@v5
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install -r requirements.txt
      - run: zensical build --clean
      - uses: actions/upload-pages-artifact@v4
        with:
          path: site
      - uses: actions/deploy-pages@v4
        id: deployment
